.calculator{
    display: grid;
    grid-template-columns: repeat(4,80px);
    background-color: black;
    color: antiquewhite;
    width: 320px;
}

.container{
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

input{
    grid-column: span 4;
    /* background-color: burlywood; */
    width: 300px;
    border: none;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    padding: 10px;
    color: black;
}

